:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1030; 
}

app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1030; 
}

.content-container {
  flex: 1 0 auto;
  margin-top: 70px; 
  margin-bottom: 60px;
  overflow-y: auto;
}
