    @use './assets/styles/theme' as *;
    @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
    @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

    body {
    font-family: 'Segoe UI', sans-serif;
    background-color: $light-gray;
    color: $dark-color;
    }